/*debug*/

/*
*{
  outline: 1px red dotted;
}*/
/**:hover{
  outline: 100px blue dotted;
  background: coral;
  margin: 10px;
  font-family: mono;
  font-size: 1rem;
  border-radius: 100%;
  position: absolute;
  left:0;
  top: 0;
  transform: rotate(5deg);
  transition: all 1s ease-out;
}*/

/*
icon img:hover, i:hover{
  transform: rotate(45deg);
}
*/

/**:hover{
  perspective: 100px;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  perspective-origin: 100% 100%;
  transform-style: preserve-3d;
}*/


/*Init*/
html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

/*header*/
header{
  height: 100%;
  width: 20rem;
  max-width: 20rem;
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  box-shadow: 0.1rem 0rem 0.5rem lightgray;
  font-family: mono;
}

header icon{
  display: block;
  box-sizing: border-box;
  margin: 2rem;
}

header img{
  border-radius: 50%;
  box-sizing: border-box;
  outline: 0.5rem coral solid;
}


/*page*/
page{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

/*nav*/
nav{
  width: 100%;
  max-width: 1000px;
  background: ;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0rem 2rem;
}
nav a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  background: #3c3c3c;
  padding: 0.4rem 1rem;
}
nav a.active{
  background: coral;
  color: black;
}

nav a:hover{
  background: #808080;
  color: white;
}

nav a.active:hover{
  background: coral;
  color: black;
}


nav a:hover{
  text-decoration: underline;
}

content{
  display: block;
  width: auto;
  height: auto;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 2rem;
}

content h1{
  text-align: center;
  font-size: 3rem;
}

content table tbody tr td{
  border: none;
}

content table tbody tr:nth-child(2n) {
      background-color: rgb(241, 241, 241); 
}

content .ic-chaudron{
  display: inline-block;
  /*! border: 1px dotted red; */
  height: 24px;
  width: 24px;
  background-image: url(../img/chaudron.svg);
  background-size: auto 24px;
  background-repeat: no-repeat;
  background-position: center; 
  margin-bottom: -4px;
}

/*footer*/
footer{
  display: none;
}
